:root {
	--main-color: 255, 255, 255;
	--second-color: #c7c7c7;
	--font-color: 40, 40, 40;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(var(--font-color));
	color: black;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.subcon {
	position: absolute;
	right: 25.5%;
	width: 49%;
	font-size: 28px;
	background-color: rgb(var(--main-color));
	min-height: 100vh;
	z-index: 7;
	transition: filter ease-in-out 0.5s;
	-webkit-box-shadow: 0 0 5px 3px #ffffff, 0 0 5px 10px #ffffff80, 0 0 15px 20px #ffffff60;
	-moz-box-shadow: 0 0 5px 3px #ffffff, 0 0 5px 10px #ffffff80, 0 0 15px 20px #ffffff60;
	box-shadow: 0 0 5px 3px #ffffff, 0 0 5px 10px #ffffff80, 0 0 15px 20px #ffffff60;
}
.subconprim {
	filter: blur(4px) brightness(60%);
	-webkit-filter: blur(4px) brightness(60%);
	pointer-events: none;
}
.subcon .row {
	margin-bottom: 20px;
}
.row:not(.button) {
	float: left;
}
.text {
	margin: 7px 0 -13px 0;
	height: 70px;
	justify-content: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.inp1,
.inp2,
.inp3,
.inp4 {
	width: 35%;
}
.inp1,
.inp3 {
	margin: 0 10%;
}
input[type='checkbox'],
input[type='radio'] {
	display: none;
}
.button1 {
	border-radius: 10px;
	background-color: var(--second-color);
	transition: box-shadow 0.3s, color 0.3s, transform 0.3s, outline 0.3s, background-color 0.65s;
	transition-timing-function: ease-in-out;
	font-weight: bold;
	color: rgb(var(--font-color));
	height: 65px;
	margin: 16px 0 0 0;
	-webkit-box-shadow: 0px 0px 3px 1px #00000050;
	-moz-box-shadow: 0px 0px 3px 1px #00000050;
	box-shadow: 0px 0px 3px 1px #00000050;
}
.inp1 .button1 {
	height: 105.5px;
}
.button1:hover {
	transform: scale(1.05);
	outline: solid 1px rgb(var(--font-color), 0.1);
	box-shadow: 0 0 10px 4px rgb(var(--font-color), 0.4);
}
input[type='checkbox']:checked + .button1,
input[type='radio']:checked + .button1 {
	background-color: rgb(var(--font-color));
	color: rgb(var(--main-color));
	-webkit-box-shadow: 0px 0px 2px 3px rgb(var(--font-color), 0.1), 0px 0px 4px 6px rgb(var(--font-color), 0.1), 0px 0px 6px 9px rgb(var(--font-color), 0.1);
	-moz-box-shadow: 0px 0px 2px 3px rgb(var(--font-color), 0.1), 0px 0px 4px 6px rgb(var(--font-color), 0.1), 0px 0px 6px 9px rgb(var(--font-color), 0.1);
	box-shadow: 0px 0px 2px 3px rgb(var(--font-color), 0.1), 0px 0px 4px 6px rgb(var(--font-color), 0.1), 0px 0px 6px 9px rgb(var(--font-color), 0.1);
}
label {
	height: 100%;
	justify-content: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	cursor: pointer;
}
.inp3 .text,
.inp4 .text {
	margin: 0 0 26px 0;
}
button {
	background-color: var(--second-color);
	color: rgb(var(--font-color));
	cursor: pointer;
}
input[type='number'] {
	width: 150px;
	background-color: var(--second-color);
	font-weight: bold;
	padding: 5px 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input:focus,
button:focus {
	outline: none;
}
button,
input[type='number'] {
	text-align: center;
	border: none;
	font-size: 40px;
}
.increment {
	padding: 5px 20px 5px 10px;
	border-radius: 0 50% 50% 0;
}
.decrement {
	padding: 5px 10px 5px 20px;
	border-radius: 50% 0 0 50%;
}
button div {
	transition: all ease-out 0.3s;
}
button:hover div {
	transform: scale(1.4);
	text-shadow: 0px 0px 10px rgb(var(--font-color), 0.8), 0px 0px 20px rgb(var(--font-color), 0.6);
}
.inp5,
.inp6,
.inp7 {
	width: 25%;
}
.inp5 {
	margin: 0 2.5% 0 10%;
	height: 309px;
}
.inp6 {
	margin: 0 2.5% 0 0;
}
.inp5 .text,
.inp6 .text,
.inp7 .text {
	height: 50px;
	margin-top: 0px;
}
.inp6 .button1 {
	height: 38.4px;
}
.inp7 .button1 {
	height: 52px;
}
.inp7 .button1:not(:last-of-type) {
	float: left;
	width: 47.5%;
}
input[type='button'] {
	margin: 13px 0 0 0;
	width: 300px;
	font-size: 24px;
	border: solid 1.5px rgb(var(--font-color));
	outline: none;
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
	background-color: var(--second-color);
	color: rgb(var(--font-color));
	transition: transform 0.35s, box-shadow 0.2s, background-color 0.3s, border-width 0.1s, color 0.3s;
	transition-timing-function: ease-in-out;
	font-weight: bold;
}
input[type='button']:hover {
	transform: scale(1.1);
	border-width: 0px;
	background-color: rgb(var(--font-color));
	color: rgb(var(--main-color));
	-webkit-box-shadow: 0px 0px 2px 3px rgb(var(--font-color), 0.1), 0px 0px 4px 6px rgb(var(--font-color), 0.1), 0px 0px 6px 9px rgb(var(--font-color), 0.1);
	-moz-box-shadow: 0px 0px 2px 3px rgb(var(--font-color), 0.1), 0px 0px 4px 6px rgb(var(--font-color), 0.1), 0px 0px 6px 9px rgb(var(--font-color), 0.1);
	box-shadow: 0px 0px 2px 3px rgb(var(--font-color), 0.1), 0px 0px 4px 6px rgb(var(--font-color), 0.1), 0px 0px 6px 9px rgb(var(--font-color), 0.1);
}
input[type='button']:active {
	-webkit-box-shadow: 0 0 7px 6px #48c22940;
	-moz-box-shadow: 0 0 7px 6px #48c22940;
	box-shadow: 0 0 7px 6px #48c22940;
}
.window {
	position: absolute;
	left: 50%;
	top: 21%;
	color: rgb(var(--font-color));
	background-color: var(--second-color);
	width: 25%;
	height: 35%;
	z-index: 8;
	transform: translate(-50%, -100vh);
	border-radius: 10px;
	border: #505050 2px solid;
	overflow: hidden;
	font-weight: bold;
	transition: all ease-in-out 0.7s;
	box-sizing: border-box;
	padding: 0 10px;
}
.windowprim {
	transform: translate(-50%);
}
.line {
	width: 25vw;
	background-color: #a5a5a5;
	border-bottom: 1px solid #838383;
	height: 10%;
	left: -10px;
	box-sizing: border-box;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.off {
	font-size: 30px;
	color: rgb(70, 70, 70);
	cursor: pointer;
	transform: translateY(-50%) rotate(45deg);
	text-shadow: 0 0 10px rgb(70, 70, 70, 0.4);
	position: absolute;
	right: 10px;
	top: 50%;
	transition: all ease-in 0.1s;
}
.off:hover {
	color: rgb(90, 90, 90);
	transform: translateY(-50%) rotate(45deg) scale(1.2);
}
#textpart {
	width: 100%;
	height: 90%;
	padding: 50px 0 0 0;
}
.refresh {
	width: 100px;
	height: 30px;
	margin: 25px auto 0 auto;
	cursor: pointer;
	border-radius: 10px;
	border: solid 2px rgb(var(--font-color));
	background-color: #a5a5a5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease-in-out 0.2s;
	-webkit-box-shadow: 0 0 5px 3px #ffffff10, 0 0 5px 10px #ffffff10, 0 0 15px 20px #ffffff10;
	-moz-box-shadow: 0 0 5px 3px #ffffff10, 0 0 5px 10px #ffffff10, 0 0 15px 20px #ffffff10;
	box-shadow: 0 0 5px 3px #ffffff10, 0 0 5px 10px #ffffff10, 0 0 15px 20px #ffffff10;
}
.refresh:hover {
	transform: scale(1.3);
	background-color: #c7c7c7;
}
#radioButton1 {
	height: 256px;
}
#radioButton2 {
	height: 120px;
	transform: scale(0);
}
.animationClass1 {
	animation: heightAnimation ease-in-out 0.6s forwards 1;
	-webkit-animation: heightAnimation ease-in-out 0.6s forwards 1;
}
.animationClass2 {
	animation: heightAnimation2 ease-in-out 0.6s forwards 1;
	-webkit-animation: heightAnimation2 ease-in-out 0.6s forwards 1;
}
.animationClass3 {
	animation: scaleAnimation ease-in-out 0.3s forwards 1;
	-webkit-animation: scaleAnimation ease-in-out 0.3s forwards 1;
}
.animationClass4 {
	animation: scaleAnimation2 ease-in-out 0.3s forwards 1;
	-webkit-animation: scaleAnimation2 ease-in-out 0.3s forwards 1;
}

@keyframes heightAnimation {
	0% {
		height: 256px;
	}
	100% {
		height: 120px;
	}
}
@keyframes heightAnimation2 {
	0% {
		height: 120px;
	}
	100% {
		height: 256px;
	}
}
@keyframes scaleAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes scaleAnimation2 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
